:global {
  .ant-tabs{


  border: 1px solid #E5E5E5;
  border-radius: 4px;
  }

  .ant-modal-body {
    width: 356px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 36px;
  }

  .modal-inner{
    .modal-alert{
      display:inline-block;
      width: 35px;
      height: 35px;
      margin-right: 10px;
      margin-top: -20px;
    }
    .modal-word{
      display:inline-block;
      p{
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #3F3F3F;
        line-height: 20px;
        margin: 0;
      }
    }
  }

  .ant-modal-content{
    width: 500px;
    height: 196px;
  }
  .ant-modal-title{
    visibility: hidden;
  }

  .ant-modal-header,.ant-modal-footer {
    border: none;
  }

  .ant-modal-footer {
    text-align: center;
    padding: 0 16px;
  }

  .tong,.qi{
    width: 198px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #DBDEE2;
    border-radius: 2px;
    color: #606060;
    font-family: STHeitiSC-Light;
    font-size: 14px;
    &:hover{
      cursor: pointer;
    }
  }

  .tong{
    margin-right: 12px;
    background: #0074E9;
    border-radius: 2px;
    color: #ffffff;
  }

  .ant-tabs-nav .ant-tabs-tab:hover {
    color: #3F3F3F !important;
  }

  .ant-radio-button-wrapper:hover {
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
  }

  .ant-radio-button-wrapper-disabled:hover {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .ant-radio-button-wrapper:last-child {
    border-radius: 21px !important;
  }

  .ant-radio-button-wrapper {
    border: 1px solid #d9d9d9;
  }

  .ant-radio-button-wrapper:not(:first-child):before {
    display: none !important;
  }

  .ant-radio-button-wrapper-checked {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.035);
    box-shadow: 0 2px 0 rgba(0,0,0,.035);
  }

  //.ant-card-body:hover{
  //  background: #FFFFFF;
  //  box-shadow: 0px 3px 4px #e5e5e5 !important;
  //  border-radius: 4px;
  //}

  .ant-card-bordered {
    border: none;
  }


  .ant-radio-group{
    width: 954px;
  }

  .asset {
    width: 954px;

    .toptitle {
      margin: 0 auto;
      margin-bottom: 14px;
      text-align: left;
      background: #FFFFFF;
      border: 1px solid #E5E5E5;
      border-radius: 4px;
      height: 60px;
      line-height: 60px;
      padding: 0 13px;
      .mail {
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #898C91;
        margin-right: 18px;
      }
      .name {
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #F15723;
      }

      .tongt{
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #F15723;
        width: 30px;
        height: 30px;
        margin-right: 7px;
      }
    }


    .ant-radio-group-large .ant-radio-button-wrapper {
      height: 36px;
      line-height: 34px;
      font-size: 14px;
      width: 130px;
    }

    .ant-tabs-bar {
      height: 92px;
      margin: 0 auto;
      text-align: center;
      background: #F6F6F6;
    }

    .ant-tabs-tab {

      img {
        width: 43px;
        height: auto;
      }

      .name {
        font-size: 12px;
        font-family: PingFangSC-Regular;
      }

    }

    .ant-tabs-ink-bar {
      display: none !important;
    }
    .find {
      margin: 30px 20px;
      //.bank{
      //  display: inline-block;
      //  margin-right: 15px;
      //  span{
      //    font-size: 14px;
      //    margin-right: 10px;
      //  }
      //}
      .ant-card-body {
        //margin: 26px;

        text-align: center;
        padding: 30px 40px 16px 40px;

        .asset-top{
          position: relative;
          .asset-image {
            width: 165px;
            height: 120px;
            min-height: 120px;
          }
          .asset-rec{
            position: absolute;
            top:0;
            left: 21px;
            width: 42px;
            //height: 42px;
          }
          .asset-bu{
            position: absolute;
            top:0;
            right: 21px;
            width: 42px;
            //height: 42px;
          }
        }

        .asset-title {

          margin: 10px 0 12px 0;
          text-align: center;
          font-size: 16px;
          color: #3F3F3F;

        }
        ul.detail {
          margin: 0 -30px 20px -30px;
          list-style: circle;
          text-align: left;
          li{
            font-size: 14px;
            color: #898C91;
            line-height: 24px;
            margin: 0;
          }
        }


      }

    }
  }
}

