:global {
  .mail{
    .find {
      margin: 30px 0;
      .has-error.has-feedback .ant-form-item-children-icon, .has-success.has-feedback .ant-form-item-children-icon, .has-warning.has-feedback .ant-form-item-children-icon, .is-validating.has-feedback .ant-form-item-children-icon {
        position: absolute;
        top: 50%;
        right: -30px;
      }
    }
  }
}